<div class="row">
  <div class="col col-md-8">
    <p>
      When working on a webdsite you'll need a way to connect to the server and upload or download your files. Some IDEs will have this tool built-in, but standalone tools can also be used.
    </p>
    
    
    <dl>
      <dt><a href="https://filezilla-project.org/">Filezilla</a></dt>
      <dd>
          An open-source (S)FTP client that's been around a long time.
      </dd>
      <dt><a href="https://cyberduck.io/?l=en">Cyberduck</a></dt>
      <dd>
        This client lets you connect to a variety of resources beyond (S)FTP, including Amazon S3, Google Drive, Dropbox and more.
      </dd>

      <dt><a href="https://panic.com/transmit/">Transmit</a> (<i class="fa fa-apple text-muted"></i> <i class="fa fa-usd text-muted"></i>)</dt>
      <dd>
        A client that lets you connect to (S)FTP and other services as well. Made locally in Portland by <a href="http://panic.com">Panic</a>.
      </dd>
  </div>
</div>







