<div class="row">
  <div class="col col-md-8">
    <p>
      Nearly all of your programming work — regardless of language or type of project — will be done in some kind of text editor or IDE (Integrated development environment). Here are some worth exploring:
    </p>
    
    
    <dl>
      <dt><a href="https://atom.io/">Atom</a> </dt>
      <dd>
          Very popular, open-source editor created by <a href="https://github.com">GitHub</a>. Updated consistently, lots of add-on packages and has good traction in the developer community. Good for many types of development, not just web. It's also an <a href="https://github.com/atom/atom">open-source</a> projectl
      </dd>        
      

      <dt><a href="https://www.sublimetext.com/">Sublime Text</a> (<i class="fa fa-usd text-muted"></i>)</dt>
      <dd>
        Another popular text editor that inspired of lot of what came to be in Sublime. It has a very extensive add-on package ecosystem as well.  Good for many types of development, not just web.
      </dd>
      
      <dt><a href="http://brackets.io/">Brackets</a></dt>
      <dd>
        This is a very web-centric text editor by Adobe. It's also an <a href="https://github.com/adobe/brackets">open-source project</a>.
      </dd>

      <dt><a href="http://www.adobe.com//products/dreamweaver.html">Dreamweaver</a> (<i class="fa fa-usd text-muted"></i>)</dt>
      <dd>
        A robust IDE that's been around for a long time. Designed for devleoping websites and includes tools that let you design visually, not just through code.
      </dd>


      <dt><a href="https://code.visualstudio.com/">Visual Studio Code</a></dt>
      <dd>An IDE offering from Microsoft designed to work with wide range of languages and types of development. Also free and open-source.</dd>
      
      <dt><a href="https://eclipse.org/">Eclipse</a></dt>
      <dd>An opens-source IDE also suited for a wide-variety of projects but traditionally very Java-focused. Been around a very long time.</dd>


      <dt><a href="https://notepad-plus-plus.org/">Notepad++</a> (<i class="fa fa-windows"></i>)</dt>
      <dd>A very light-weight text editor for Windows.</dd>

      <dt><a href="https://macromates.com/">TextMate</a> (<i class="fa fa-usd text-muted"></i> <i class="fa fa-apple text-muted"></i>)</dt>
      <dd>A macOS-only text editor that's also been around a long time.</dd>
      
      <dt><a href="https://panic.com/coda/">Coda</a> (<i class="fa fa-usd"></i> <i class="fa fa-apple"></i>)</dt>
      <dd>A web-centric IDE that has good tools for built-in (S)FTP and shell management. The <a href="http://panic.com">company</a> is based in Portland!</dd>
        
      <dt><a href="http://www.vim.org/">Vim</a></dt>      
      <dd>The terminal-based editor and almost certainly the oldest on this list. Very different than all the other text-editors with a steeper learning curve, but can be very efficient and effective when learned.</dd>

    </dl>        

  </div>
</div>







