---
search_exclude: true
---

body {
  padding-top:75px;
  color:#556270;
  
  &.fluid {
    padding-top:50px;
  }
}

a {
  color:#900;
  &:hover {
    color:darken(#900,20%);
  }
}

.navbar-brand i.fa {
  color:#a00;
}

h1,h2,h3,h4,h5,h6 {
  font-family:Inconsolata;
}

.reference-nav-bar {
  margin-bottom:1em;
}

.reference-tab-content dl dd {
  margin-bottom:1.5em;
}

.nav-link:hover {
  i.fa {
    color:#a00;
  }
}


/* Progress Page
  ====================*/

.badge-icon {
  margin-right:.5em;
}

.in-progress {
  opacity:.5;
  filter:grayscale(1);
}

.student-progress-section {
  border-bottom:1px rgba(0,0,0,.1) solid;
  padding:2em 0;
  
  .student-title {
    font-weight:bold;
    border-bottom:3px rgba(0,0,0,.2) solid;
    width:auto;
    margin:0 auto .5em auto;
    padding:0 0 .25em 0;
    display:inline-block;
  }
  
}

#codepen-classroom {
  height: calc(100vh - 50px);
}