---
search_exclude: true
---

body {
  padding-top:75px;
  color:#556270;
  
  &.fluid {
    padding-top:50px;
  }
}

a {
  color:#900;
  &:hover {
    color:darken(#900,20%);
  }
}

.navbar-brand i.fa {
  color:#a00;
}

h1,h2,h3,h4,h5,h6 {
  font-family:Inconsolata;
}

.reference-nav-bar {
  margin-bottom:1em;
}

.reference-tab-content dl dd {
  margin-bottom:1.5em;
}

.nav-link:hover {
  i.fa {
    color:#a00;
  }
}


/* Progress Page
  ====================*/

.badge-icon {
  margin-right:.5em;
}

.in-progress {
  opacity:.5;
  filter:grayscale(1);
}

.student-progress-section {
  border-bottom:1px rgba(0,0,0,.1) solid;
  padding:2em 0;
  
  .student-title {
    font-weight:bold;
    border-bottom:3px rgba(0,0,0,.2) solid;
    width:auto;
    margin:0 auto .5em auto;
    padding:0 0 .25em 0;
    display:inline-block;
  }
  
}

#codepen-classroom {
  height: calc(100vh - 50px);
}

.nav-link.highlight-slides {
  opacity:.5;
  right:2em;
  position:absolute;
  &.active {
    opacity:1;
  }
}

/* Progress Landing Page
==========================*/

#treehouse-points {
  margin:3em 0;
  width:50%;
  
  .student {
    width:100%;
    background:#eee;
    color:rgba(0,0,0,0);
    padding:.3em .5em;
    margin:.25em 0;
    transition:all 5000ms;
    height:2em;
    position:relative;
    
    .name {
      position:absolute;
      left:.5em;
    }
    
    .runner {
      height:1.25em;
      width:auto;
      position: absolute;
      right:0;
      top:50%;
      transform: translate(120%,-50%);
    }

    .score {
      opacity:0;
      transition:all 3000ms;
      float:right;
      color:#fff;
      position:absolute;
      right:1em;
    }
    
    &.shown {
      color:rgba(0,0,0,1);
      background:#cddc39;
      
      .score{
        opacity:1;
      }
    }
  }
}


/* Speakers
=======================*/

details[open] summary{
  margin-bottom:1em;
  color:#000;
}

details summary {
  outline:none;
  cursor:pointer;
}

/* General
==========================*/

img {
  max-width:100%;
  height:auto;
}

ol li {
  margin:1em 0;
  img {
    margin:1em 0;
  } 
}

pre  {
  padding:1em;
  background:#eee;
}