---
layout: default
title: Software
permalink: /software
---


<h1>Software</h1>

<div class="row">
  <div class="col col-md-8">
    <p>
        This page contains links to different types of software you might use as a web developer.
    </p>
</div>
</div>


<!-- Tab panes -->
<ul class="nav nav-tabs reference-nav-bar" role="tablist">
    <li class="nav-item">
      <a class= "nav-link active" href='#text-editors-software' data-toggle="tab" role="tab">Text Editors &amp; IDEs</a>
    </li>
    <li class="nav-item">
      <a class= "nav-link" href='#sftp-software' data-toggle="tab" role="tab">(S)FTP</a>
    </li>
</ul>

<!-- Tab panes -->
<div class="tab-content reference-tab-content">
  <div class="tab-pane active" id="text-editors-software" role="tabpanel">
    {% include software/text-editors.html %}
  </div>
  <div class="tab-pane" id="sftp-software" role="tabpanel">
    {% include software/sftp.html %}
  </div>
</div>

    






