---
layout: default
title: Syllabus
permalink: /syllabus
---


<h1>Syllabus</h1>


<div class="row">
  <div class="col col-md-8">
    <p>
        Treehouse courses and other materials for the course will be presented and archived here as we go along.
    </p>
  </div>
</div>

<ul class="nav nav-tabs reference-nav-bar" role="tablist">
    <li class="nav-item">
      <a class= "nav-link" href='#html-css' data-toggle="tab" role="tab"><i class="fa fa-html5"></i> HTML &amp; CSS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href='#javascript'  data-toggle="tab" role="tab"><i class="fa fa-cogs"></i> JavaScript</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href='#github'  data-toggle="tab" role="tab"><i class="fa fa-github"></i> GitHub</a>
    </li>
    <li class="nav-item">
      <a class="nav-link highlight-slides" href='#slides'  data-toggle="tab" role="tab"><i class="fa fa-slideshare"></i> Slides</a>
    </li>
</ul>


<!-- Tab panes -->
<div class="tab-content reference-tab-content">
  <div class="tab-pane" id="html-css" role="tabpanel">
    <div class="row">
      <div class="col-md-8">
        {% include syllabus/html-css.html %}
      </div>
    </div>
  </div>
  
  <div id="javascript" class="tab-pane active" role="tabpanel">
    <div class="row">
      <div class="col-md-8">
        {% include syllabus/javascript.html %}
      </div>  
    </div>
  </div>

  <div id="github" class="tab-pane" role="tabpanel">
    <div class="row">
      <div class="col-md-8">
        {% include syllabus/github.html %}
      </div>
    </div>
  </div>

  <div class="tab-pane" id="slides" role="tabpanel">
    
    <p>In-class presentations and slides can be viewed here. All of them are built using <a href="http://lab.hakim.se/reveal-js/">reveal.js</a> and the source code for each slideshow can be found on the <a href="https://github.com/CodeAcademyMHCC">class Github account</a>.</p>
    
      <ul>
        <li><a href="https://codeacademymhcc.github.io/slides/keyboard-shortcuts/"><i class="fa fa-keyboard-o"></i> Keyboard Shortcuts</a></li>
        <li><a href="https://codeacademymhcc.github.io/slides/comments-and-anchors/"><i class="fa fa-anchor"></i> Comments &amp; Anchors</a></li>
        <li><a href="https://codeacademymhcc.github.io/slides/html-design-patterns/"><i class="fa fa-html5"></i> HTML Design Patterns</a></li>
        <li><a href="https://codeacademymhcc.github.io/slides/intro-to-markdown/"><i class="fa fa-code"></i> Intro to Markdown</a></li>
      </ul>            
  </div>
  
  
</div>

    




