    <nav class="navbar navbar-toggleable-md navbar-light bg-faded fixed-top">
      <div class="container">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/"><i class="fa fa-code"></i> {{ site.title }}</a>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li>
            <a href="/syllabus" class="nav-link"><i class="fa fa-file"></i> Courses</a>
          </li>
          <li>
            <a href="/projects" class="nav-link"><i class="fa fa-sitemap"></i> Projects</a>            
          </li>
          <li>
            <a href="/progress" class="nav-link"><i class="fa fa-bar-chart"></i> Progress</a>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="resources-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bolt"></i> Quick Links</a>
            <div class="dropdown-menu" aria-labelledby="resources-dropdown">
              <a class="dropdown-item" target="_blank" href="https://teamtreehouse.com/"><i class="fa fa-graduation-cap"></i> Treehouse</a>
              <a class="dropdown-item" target="_blank"  href="https://github.com/codeAcademyMHCC"><i class="fa fa-github"></i> GitHub </a>
              <!-- <a class="dropdown-item" target="_blank"  href="https://gist.github.com/"><i class="fa fa-github"></i> Gist </a> -->
              <!-- <a class="dropdown-item" target="_blank"  href="http://codepen.io/mhcc/"><i class="fa fa-codepen"></i> CodePen</a> -->
              <!-- <a class="dropdown-item" target="_blank"  href="http://thimble.mozilla.org"><i class="fa fa-code"></i> Thimble</a> -->
              <a class="dropdown-item" href="/classroom"><i class="fa fa-graduation-cap"></i> Classroom</a>              
              <!-- <a class="dropdown-item" target="_blank"  href="http://scratch.mit.edu"><i class="fa fa-gamepad"></i> Scratch</a> -->
              <a class="dropdown-item" target="_blank" href="https://codeacademymhcc.slack.com"><i class="fa fa-slack"></i> Slack</a>
              <a class="dropdown-item" target="_blank"  href="https://codeanywhere.com"><i class="fa fa-code"></i> Codeanywhere</a>
              <a class="dropdown-item" href="/reference"><i class="fa fa-book"></i> Reference</a>
              <a class="dropdown-item" href="/speakers"><i class="fa fa-commenting"></i> Speakers</a>
              <a class="dropdown-item" href="/events"><i class="fa fa-calendar"></i> Events</a>
              <a class="dropdown-item" href="/programs"><i class="fa fa-university"></i> Programs</a>
            </div>
          </li>
        </ul>
        <div id="search-results-container" class='dropdown'>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2 form-control" type="search" id="search-input" placeholder="Search...">
          </form>
          <ul id="search-results" class="dropdown-menu bd-search-results">
          </ul>
        </div>
        
      </div>
      </div>
    </nav>
