<p>
  <strong>Additional Areas to Explore</strong>
</p>

<p>The focus with this course is on frontend web development skills, but there are a lot of other areas to learn about! This page contains some tangential topics that could be good to explore on your own:</p>

<p>
  <strong>Treehouse Courses</strong>
</p>

<ul>
  <li><a href="https://teamtreehouse.com/library/seo-basics">SEO Basics</a> — Learning how to write and markup content for the web</li>
  <li><a href="https://teamtreehouse.com/library/sql-basics">SQL Databases</a> — Learning how to work with Structured Query Languages and databases</li>
  <li><a href="https://teamtreehouse.com/library/console-foundations">Console Foundations</a> — Learn how to navigate your computer and work on your projects in any Unix-like environments from the command line</li>
  <li><a href="https://teamtreehouse.com/library/markdown-basics/upcoming">Markdown Basic</a> — This is a good addendum to the [short slideshow](/slides/intro-to-markdown/) we went over in class.</li>
</ul>

