<p>
  <strong>Getting Started</strong> — May 1-26, 2017
</p>


<p>These courses from Treehouse’s <a href="https://teamtreehouse.com/library/topic:digital-literacy">Digital Literacy library</a> are a good place to familiarize ourselves with the platform while also exploring fundamental concepts underlying web development.</p>

<ul>
  <li><a href="http://teamtreehouse.com/library/how-the-web-works">How the Web Works</a></li>
  <li><a href="http://teamtreehouse.com/library/computer-basics">Computer Basics</a></li>
  <li><a href="https://teamtreehouse.com/library/how-the-internet-works">How the Internet Works</a></li>
  <li>
    <s>HTTP: Do you GET it?</s>
  </li>
</ul>

<h4 id="working-with-html--css">Working with HTML &amp; CSS</h4>

<p>For this segment we’ll be learning HTML &amp; CSS — the backbone of presenting information on the web.</p>

<ul>
  <li><a href="https://teamtreehouse.com/library/introduction-to-html-and-css">Introduction to HTML and CSS</a></li>
  <li><a href="http://teamtreehouse.com/library/html">HTML</a></li>
  <li><a href="http://teamtreehouse.com/library/css-basics">CSS Basics</a></li>
  <li><strong>FreeCodeCamp:</strong> <a href="https://www.freecodecamp.com/map-aside#nested-collapseHTML5andCSS">HTML &amp; CSS</a>. This is outside of Treehouse, but serves as a good, comprehensory review of HTML &amp; CSS before diving into the segment below. <small class="text-info">(Added on May 8th)</small></li>
  <li><a href="http://teamtreehouse.com/library/how-to-make-a-website">How to Make a Website</a></li>
</ul>

<hr />
