<p><strong>Intro to JavaScript</strong> — May 12-26, 2017</p>

<p>
  While HTML &amp; CSS dictate the structure and presentation of a webpage, JavaScript brings functionality and interactivity. In this segment we'll be getting acquainted with the basic principles of programming in <em>most</em> object-oriented languages as we explore JavaScript and how to interact with webpages.
</p>


<div class="row">
  
  <div class="col-md-6">
    
    <ul>
      <li><a href="http://teamtreehouse.com/library/javascript-basics">JavaScript Basics</a></li>
      <li><a href="http://teamtreehouse.com/library/javascript-loops-arrays-and-objects">JavaScript Loops, Arrays and Objects</a></li>
      <li><a href="http://teamtreehouse.com/library/interactive-web-pages-with-javascript">Interactive Web Pages with JavaScript</a></li>
      <li><a href="http://teamtreehouse.com/library/jquery-basics">jQuery Basics</a></li>
      <li><a href="http://teamtreehouse.com/library/ajax-basics">AJAX Basics</a></li>
      <!-- <li><a href="http://teamtreehouse.com/library/objectoriented-javascript">Object-Oriented JavaScript</a></li> -->
      <!-- <li><a href="http://teamtreehouse.com/library/html-video-and-audio">HTML Video and Audio</a></li> -->
    </ul>
    
  </div>
</div>


